/* ========== GLOBAL && VARIABLES ========== */
:root {
  font-size: 62.5%;

  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  --primary: hsl(161, 94%, 30%);
  --secondary: hsl(149, 80%, 90%);
  --extra: hsl(210, 20%, 98%);

  --font-primary: var(--black);
  --font-secondary: hsl(220, 9%, 46%);

  --primary-hover: hsl(163, 94%, 24%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--extra);

  font-size: 1.6rem;
}

body * {
  font-family: "Roboto", sans-serif;
}

.container {
  width: min(102.4rem, 100%);
  margin-inline: auto;
  padding-inline: 1.6rem;
}
